.signupPage__container{
    background-color: var(--white);
    box-shadow: var(--shadow);
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem;
    justify-content: center;
    align-items: center;
}

.signup__fields{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}